<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @institution.title %>
</p>

<%= link_to 'Edit', edit_institution_path(@institution) %> |
<%= link_to 'Back', institutions_path %>
