<nav class="drawer drawer--dark">
  <div class="drawer-spacer">
    <div class="media align-items-center">
      <a href="/" class="drawer-brand-circle mr-2">CN</a>
      <div class="media-body">
        <a href="/" class="h5 m-0 text-link">ConsultaNota</a>
      </div>
    </div>
  </div>

  <div class="py-2 drawer-heading">
    Cadastro
  </div>

  <ul class="drawer-menu" id="mainMenu" data-children=".drawer-submenu">
    <li class="drawer-menu-item">
      <a href="/institutions">
        <i class="material-icons">account_balance</i>
        <span class="drawer-menu-text">Instituições</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/courses">
        <i class="material-icons">language</i>
        <span class="drawer-menu-text">Cursos</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/students">
        <i class="material-icons">face</i>
        <span class="drawer-menu-text">Alunos</span>
      </a>
    </li>
  </ul>

  <div class="py-2 drawer-heading">
    Performance
  </div>

  <ul class="drawer-menu" id="mainMenu" data-children=".drawer-submenu">
    <li class="drawer-menu-item">
      <a href="/institutions">
        <i class="material-icons">account_balance</i>
        <span class="drawer-menu-text">Instituições</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/courses">
        <i class="material-icons">language</i>
        <span class="drawer-menu-text">Cursos</span>
      </a>
    </li>
    <li class="drawer-menu-item">
      <a href="/students">
        <i class="material-icons">face</i>
        <span class="drawer-menu-text">Alunos</span>
      </a>
    </li>
  </ul>

</nav>